.flashes {
    list-style-type: none;
    padding: 0;
}
.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f0f8ff;
    color: #000;
    opacity: 1;
    animation: fadeOut 4s forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}