<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add author to database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/">home</a>
    </nav>
    {% if popup %}
          <ul class=flashes>
          {% for category, message in popup %}
              <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
    {% endif %}
    <form action="/add_author" method="POST">
      <label for="name">Author Name:</label>
      <input type="text" id="name" name="name" required><br><br>
      <label for="birthdate">Birthdate:</label>
      <input type="date" id="birthdate" name="birthdate" required><br><br>
      <label for="date_of_death">Date of Death:</label>
      <input type="date" id="date_of_death" name="date_of_death"><br><br>
      <input type="submit" value="Add Author">
    </form>
  </body>
</html>
