<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add book to database</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  </head>
  <body>

  <form action="/add_book" method="POST">
    <label for="title">Book title:</label>
    <input type="text" id="title" name="title" required><br><br>
    <label for="isbn">ISBN13:</label>
    <input type="text" id="isbn" name="isbn" placeholder="978-3-16-148410-0" maxlength="17" required ><br><br>
    <label for="pub_year">Publication year:</label>
    <input type="text" id="pub_year" name="pub_year" placeholder="1999" maxlength="4" required ><br><br>
    <label for="authors">Author:</label>
      <select name="author" id="authors" required>
        {% for name, id in authors_dict.items() %}
          <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    <input type="submit" value="Add Book">
  </form>

  </body>
</html>
