<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav class="navbar">
      <a href="/add_author">add authors</a>
      <a href="/add_book">add books</a>
    </nav>
    <nav class="menu">
      <form action="/" method="GET">
        <label for="sort_by_dropdown">sort by:</label>
        <!--If the method were 'POST', the names of <select>s and <input>s would
         become keys in kv pairs in the request body with value= attr content
         as value of the kv pair.
         But since the method is 'GET', name: value gets formatted into a query
         string where ?name=value
         Just...Wow.
         -->
        <select id="sort_by_dropdown" name="sort">
          <option value="title">title</option>
          <option value="author">author</option>
          <option value="year">publication year</option>
        </select>
        <label style="margin-left: 10px;" for="sorting_dir_dropdown">sorting direction:</label>
        <select id="sorting_dir_dropdown" name="dir">
          <option value="asc">ascending</option>
          <option value="desc">descending</option>
        </select>
        <input type="submit" value="SORT">
      </form>
      <form action="/search" method="GET">
        <label for="search_field"></label>
        <input type="text" id="search_field" name="search" placeholder=" search by title, author, year...">
        <input type="submit" value="SEARCH">
      </form>
    </nav>
    {% if popup %}
        <ul class=flashes>
        {% for category, message in popup %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="bulk_body">
      {% for book in books %}
        <div class="book_repr">
          <div>
            <h3>{{ book.title }}</h3>
            <img src="{{ book.cover_url }}" alt="book_cover from openlibrary api"/>
          </div>
          <div>
            <div class="book_by">
              <p>by {{ book.author }}</p>
              <form action="/author/{{ book.author_id }}/delete" method="GET">
                <input style="color: #dbd5cc;" type="submit" value=": rem all works">
              </form>
            </div>
            <form style="margin-top: 0;" action="/book/{{ book.book_id }}/delete" method="GET">
              <input type="submit" value="DELETE">
            </form>
          </div>
        </div>
      {% endfor %}
    </div>

  </body>
</html>